[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/p-hoffmann/extension-ci-tools.git
[submodule "circe/circe-be"]
	path = circe/circe-be
	url = https://github.com/p-hoffmann/circe-be.git
[submodule "llama/llama.cpp"]
	path = llama/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
