# Dependencies
node_modules/

# Deno
deno.lock

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
*.sw?

# Environment variables
.env
.env.*
!.env.example
